.orderWrapper {
    width: 80%;
    display: flex;

}

.orderSide {
    width: 50%;
    min-width: 330px;
    padding: 30px;
}


.orderSum {
    background-color: aquamarine;
    border-radius: 20px;
    padding: 20px;
}

.orderSumLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderSumLine span {
    padding: 5px 0;
}

.orderSumLine:last-child span {
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
	.orderWrapper {
		width: 100%;
	}
}

@media screen and (max-width: 1000px) {
	.orderWrapper {
		flex-direction: column;
	}

    .orderSide:first-child {
        order: 2;
        width: 100%
    }

    .orderSide:last-child {
        order: 1;
        width: 50%;
    }

}


@media screen and (max-width: 800px) {

}